# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore model files
*.pkl

# Virtual environment
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode files (optional, if using VSCode)
.vscode/

# macOS files
.DS_Store
